<mat-drawer-container fxLayout="row" fxLayoutAlign="center start" >
  <mat-drawer fxHide.lt-md fxFlex="30" position="end" fxLayout="column" mode="side" opened="true">
    <mat-card class="side-bar p-1 m-1">
      <mat-nav-list role="list" fxLayout="column" fxLayoutGap=10px; fxLayoutAlign="space-around start">

        <a pageScroll [routerLink]="" mat-list-item routerLinkActive="active" href="#Server_Rendering_vs_Client_Rendering">
          <div fxLayout="column">
            <div fxLayout="row">
              <mat-icon>chevron_right</mat-icon>
              <span class="link-text" translate>Server Rendering vs Client Rendering</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
              <font style="font-size:12px">July 22nd, 2016</font>
            </div>
            <mat-divider></mat-divider>
          </div>
        </a>

        <a fxLayout="column" fxFill pageScroll [routerLink]="" mat-list-item routerLinkActive="active" href="#News_in_Net_Net_Core">
          <div fxFill fxLayout="column">
            <div fxLayout="row">
              <mat-icon>chevron_right</mat-icon>
              <span class="link-text" translate>News in .Net, .Net Core</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
              <font style="font-size:12px">July 22nd, 2016</font>
            </div>
            <mat-divider></mat-divider>
          </div>
        </a>

        <a pageScroll fxFill [routerLink]="" mat-list-item routerLinkActive="active" href="#What_about_deploying">
          <div fxFill fxLayout="column">
            <div fxLayout="row">
              <mat-icon>chevron_right</mat-icon>
              <span class="link-text" translate>What about deploying</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
              <font style="font-size:12px">July 22nd, 2016</font>
            </div>
            <mat-divider></mat-divider>
          </div>
        </a>

        <a pageScroll fxFill [routerLink]="" mat-list-item routerLinkActive="active" href="#PWA">
          <div  fxFill fxLayout="column">
            <div fxLayout="row">
              <mat-icon>chevron_right</mat-icon>
              <span class="link-text" translate>PWA</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
              <font style="font-size:12px">July 22nd, 2016</font>
            </div>
            <mat-divider></mat-divider>
          </div>
        </a>

        <a pageScroll fxFill [routerLink]="" mat-list-item routerLinkActive="active" href="#Why_Angular">
          <div fxFill fxLayout="column">
            <div fxLayout="row">
              <mat-icon>chevron_right</mat-icon>
              <span class="link-text" translate>Why Angular</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
              <font style="font-size:12px">July 22nd, 2016</font>
            </div>
            <mat-divider></mat-divider>
          </div>
        </a>
      </mat-nav-list>
    </mat-card>
  </mat-drawer>


  <mat-drawer-content >
    <mat-card fxLayout="column" fxFlex="70" fxFlex="grow" fxLayoutGap="10px">
      <mat-card id="Server_Rendering_vs_Client_Rendering">
        <mat-card-header>
          <mat-card-title>
            <h2>Server Rendering vs Client Rendering</h2>
          </mat-card-title>
          <mat-card-subtitle>       
            Nour,        
            <font style="font-size:12px">July 22nd, 2016</font>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
        L'avantaga des application Angular (2+) est la capacité du rendering dynamique rapide et flexible, ce qui améliore considerablement les user exeperiences et rendent les site web basé sur angular rapide est apprécié.
        la caractéristique qui rend cela possible et la capacité de faire un grand nombre de calculs en local chez le client et de minimiser les access réseaux vers de serveur afin de rapartirer les traitement.
        Les application ASP MVS et la plupart des autres se basent sur un mix des deux architectures mais tres souvent, plus vers le seveurs que sur le client.ngForm
        Angular nous offre un moyen riche et flexible afin de résuire les echanges tout en garantissant des donnée rafraichie.

          </p>
        </mat-card-content>
      </mat-card>

      <mat-card id="News_in_Net_Net_Core">
        <mat-card-header>
          <mat-card-title>
            <h2>News in .Net, .Net Core</h2>
          </mat-card-title>
          <mat-card-subtitle>       
            Nour,        
            <font style="font-size:12px">July 22nd, 2016</font>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
          Le principale inconveinient des application basés sur .net et qu'elles sont destinée au platformes Windows contrairement au applications Java qui etaient destinée et au architecure Windows mais aussi Mac et Linux.
          .Net core viens ici combler cette lacune en donnant access au application .Net Core d'etre installable sur des architures diverse (Windows, Mac et Linux).
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card id="What_about_deploying">
        <mat-card-header>
          <mat-card-title>
            <h2>What about deploying</h2>
          </mat-card-title>
          <mat-card-subtitle>       
            Nour,        
            <font style="font-size:12px">July 22nd, 2016</font>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>


      <mat-card id="PWA">
        <mat-card-header>
          <mat-card-title>
            <h2>PWA</h2>
          </mat-card-title>
          <mat-card-subtitle>       
            Nour,        
            <font style="font-size:12px">July 22nd, 2016</font>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card> 

      <mat-card id="Why_Angular">
        <mat-card-header>
          <mat-card-title>
            <h2>Why Angular</h2>
          </mat-card-title>
          <mat-card-subtitle>       
            Nour,        
            <font style="font-size:12px">July 22nd, 2016</font>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>