@import "src/theme/theme-variables";
.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-nav>a:hover {
  color: white;
}

.navbar-nav>a:active {
  color: white;
}

.card-body {
  color: white;
  font-weight: normal;
  text-transform: capitalize;
}

@media (max-width: 768px)
 {
  #About {
    visibility: collapse;
  }
}
