<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top font-weight-bold text-uppercase border-bottom border-light">
   <button class="navbar-toggler" type="button" aria-controls="navbar-menu" aria-label="Toggle navigation" (click)="toggleMenu()"
    [attr.aria-expanded]="!menuHidden">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="https://github.com/ressadnour/CV.Ressad.Nour.Official" translate>APP_NAME</a>

  <div id="navbar-menu" class="collapse navbar-collapse float-xs-nonet" [ngbCollapse]="menuHidden">
    <ul class="navbar-nav">
      <li>
        <a class="nav-item nav-link" routerLink="/home" href="#home" [ngx-scroll-to]="'#home'" [ngx-scroll-to-event]="ngxScrollToEvent"
          [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to-easing]="ngxScrollToEasing" [ngx-scroll-to-offset-map]="ngxScrollToOffsetMap"
         >
          <span translate>Home</span>
        </a>
      </li>

      <li>
        <a class="nav-item nav-link" href="#skills" [ngx-scroll-to]="'#skills'" [ngx-scroll-to-event]="ngxScrollToEvent" [ngx-scroll-to-duration]="ngxScrollToDuration"
          [ngx-scroll-to-easing]="ngxScrollToEasing" [ngx-scroll-to-offset-map]="ngxScrollToOffsetMap" >
          <span translate>Skills</span>
        </a>
      </li>

      <li>
        <a class="nav-item nav-link" routerLink="/home#experience" href="#experience" [ngx-scroll-to]="'#experience'" [ngx-scroll-to-event]="ngxScrollToEvent"
          [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to-easing]="ngxScrollToEasing" [ngx-scroll-to-offset-map]="ngxScrollToOffsetMap"
          routerLinkActive="active">
          <span translate>Experience</span>
        </a>
      </li>

      <li>
        <a class="nav-item nav-link" routerLink="/home#education" href="#education" [ngx-scroll-to]="'#education'" [ngx-scroll-to-event]="ngxScrollToEvent"
          [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to-easing]="ngxScrollToEasing" [ngx-scroll-to-offset-map]="ngxScrollToOffsetMap"
          routerLinkActive="active">
          <span translate>Education</span>
        </a>
      </li>

      <li>
        <a class="nav-item nav-link" routerLink="/home" href="#portfolio" [ngx-scroll-to]="'#portfolio'" [ngx-scroll-to-event]="ngxScrollToEvent"
          [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to-easing]="ngxScrollToEasing" [ngx-scroll-to-offset-map]="ngxScrollToOffsetMap"
          routerLinkActive="active">
          <span translate>Portfolio</span>
        </a>
      </li>

      <li>
        <a class="nav-item nav-link" routerLink="/home" href="#contact" [ngx-scroll-to]="'#contact'" [ngx-scroll-to-event]="ngxScrollToEvent"
          [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to-easing]="ngxScrollToEasing" [ngx-scroll-to-offset-map]="ngxScrollToOffsetMap"
          outerLinkActive="active">
          <span translate>Contact</span>
        </a>
      </li>

    </ul>


    <div class="navbar-nav ml-auto">
      <div class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-language"></i> {{ 'language' | translate }}
          <b class="caret"></b>
        </a>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" (click)="changeLang('en')">
            <span translate>English</span>
          </button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="changeLang('fr')">
            <span translate>French</span>
          </button>
        </div>
      </div>

      <div id="About" class="nav-item" ngbDropdown placement="bottom-right">
        <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-free-code-camp"> </i>{{ 'About' | translate }}
          <b class="caret"></b>
        </a>
        <div ngbDropdownMenu aria-labelledby="user-dropdown" style="margin:0; padding:0;">
          <div class="dropdown-header p-1 m-1" > 
            <div class="card text-center bg-danger">
                <div class="card-body p-1 m-1 ">
                  <p class="card-text">
                      <font style="font-size:18px" >Angular 5</font>
                      <font style="font-size:10px" >HTML 5</font>
                      <font style="font-size:12px" >CSS</font>
                      <font style="font-size:10px" >SASS</font>
                      <font style="font-size:18px" >Bootstrap 4</font>
                      <font style="font-size:12px" >JavaScript</font>
                      <font style="font-size:18px" >Progressive Web Application</font>
                     </p>
                </div>
              </div>
            </div> 
        </div>
      </div>
    </div>
  </div>
</nav>

