  <section id="experience">
    <div class="container">
      <div class="white-devider"></div>
      <div class="white-heading">
        <h2><span translate>Experience</span></h2>
      </div>
      <ul class="timeline">
        <li>
          <div class="timeline-badge">
            <span class="fa fa-medkit"></span>
          </div>
          <div class="timeline-panel-container">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>GEHC (General Electric Healthcare-Buc)</h3>
                <h4>Développeur Full Stack</h4>
                <p class="text-muted">
                  <small class="fa fa-clock-o"></small>2013-2017</p>
              </div>
              <div class="timeline-body">
                <p>•	Développement d’une solution en mode Agile d’aide à l’assignation pour les interventions technique des 1400 techniciens de maintenance en Europe, cette solution est en interface avec une application externe à GE sous le Cloud d’Amazon (Smart Dispatch Tool –ClickSoftware-) et le frame MUST (CRM entreprise utilisé en Europ). </p>
                <p>•	Assistance d’une équipe en Inde pour le portage et l’adaptation de la solution pour une mise en place pour l’Asie et l’Asie du sud-est.</p>
                <p>•	Mise en place d’une plateforme de monitoring de l’écho-system SDT basé sur Angular, Bootstrap, ASP MVC 5 et PWA.</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge">
            <span class="fa fa-car"></span>
          </div>
          <div class="timeline-panel-container-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>SANEF ITS (ex CS ITS)</h3>
                <h4>Ingénieur développeur R&D</h4>
                <p class="text-muted">
                  <small class="fa fa-clock-o"></small> 2011-2013</p>
              </div>
              <div class="timeline-body">
                <p>•	Développement d’un simulateur des équipements péages permettant de simuler le comportement de ses différents équipements afin d’automatiser les processus de validation et de recettes ainsi que la non régression</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge">
            <span class="fa fa-subway"></span>
          </div>
          <div class="timeline-panel-container">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>SIEMENS MOBILITY</h3>
                <h4>Ingénieur d’études et développement SQL</h4>
                <p class="text-muted">
                  <small class="fa fa-clock-o"></small> 2009-2011</p>
              </div>
              <div class="timeline-body">
                <p>•	Mise en place de la base de données d’acquisition des informations PCC (SCADA_ATS)</p>
                <p>•	Automatisation Test et Validation PCC ligne 4 du métro de São Paulo, ligne 1 du métro d’Helsinki et du métro de New York (Path - ground zero-).</p>
              </div>
            </div>
          </div>
        </li>
        <li>
            <div class="timeline-badge">
              <span class="fa fa-subway"></span>
            </div>
            <div class="timeline-panel-container-inverted">
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3>SIEMENS STS</h3>
                  <h4>Ingénieur test et Validation PCC ligne 1 du métro de Paris.</h4>
                  <p class="text-muted">
                    <small class="fa fa-clock-o"></small> 2008-2009</p>
                </div>
                <div class="timeline-body">
                  <p>•	Ecriture des cahiers des tests et suivi des exigences fonctionnelles.</p>
                  <p>•	Ecriture des scripts de tests en langage PCC (SPOCC).</p>
                </div>
              </div>
            </div>
          </li>
          <li>
              <div class="timeline-badge">
                <span class="fa fa-subway"></span>
              </div>
              <div class="timeline-panel-container">
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3>SIEMENS STS</h3>
                    <h4>Ingénieur d’études et développement SQL                  </h4>
                    <p class="text-muted">
                      <small class="fa fa-clock-o"></small> 2007-2008</p>
                  </div>
                  <div class="timeline-body">
                    <p>•	Optimisation et reconsolidation du processus de génération du paramétrage Multi-projet.</p>
                    <p>•	Construction de la base de données et optimisation du processus de génération du paramétrage PCC.</p>
                    <p>•	Optimisation de la base de données SQL SERVER 2005.</p>
                  </div>
                </div>
              </div>
            </li>
      </ul>
    </div>
  </section>
