<Section id="portfolio">
  <div class="white-devider"> </div>
  <div class="heading">
    <h2>Portfolio</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="thumbnail" href="./assets/SdtBookingMainUi.PNG" target="_blank">
          <img class="img-thumbnail" src="./assets/SdtBookingMainUi.PNG" alt="Sdt Booking Main Ui">
          <div class="caption">
            <p>Sdt Booking Main window.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="thumbnail" href="./assets/SdtBookingMapView.PNG" target="_blank">
          <img class="img-thumbnail" src="./assets/SdtBookingMapView.PNG" alt="Sdt Booking Map view">
          <div class="caption">
            <p>Sdt Booking Map view.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="thumbnail" href="./assets/SdtMonitoringTool.PNG" target="_blank">
          <img class="img-thumbnail" src="./assets/SdtMonitoringTool.PNG" alt="Sdt monitoring tool">
          <div class="caption">
            <p>Sdt monitoring tool main view.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a class="thumbnail" href="./assets/SdtMonitoringToolActiviryView.PNG" target="_blank">
          <img class="img-thumbnail" src="./assets/SdtMonitoringToolActiviryView.PNG" alt="Sdt monitoring tool activity view">
          <div class="caption">
            <p>Sdt monitoring tool activity view.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="thumbnail" href="assets/SdtMonitoringToolActiviryView.PNGsFtp.PNG" target="_blank">
          <img class="img-thumbnail" src="./assets/SdtMonitoringToolActiviryView.PNGsFtp.PNG" alt="Sdt monitoring tool statistiques view">
          <div class="caption">
            <p>Sdt monitoring tool statistiques view.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="thumbnail" href="./assets/SdtMonitoringToolWsView.PNG" target="_blank">
          <img class="img-thumbnail" src="./assets/SdtMonitoringToolWsView.PNG" alt="Sdt monitoring tool web services activity view">
          <div class="caption">
            <p>Sdt monitoring tool web services activity view.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a class="thumbnail" href="./assets/Sanef-Its-1.jpg" target="_blank">
          <img class="img-thumbnail" src="./assets/Sanef-Its-1.jpg" alt="Sanef Its SCSI Simulator tool main View">
          <div class="caption">
            <p>Sanef Its SCSI Simulator tool main View.</p>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a class="thumbnail" href="./assets/IntroducingYourProductb5.PNG" target="_blank">
          <img class="img-thumbnail" src="./assets/IntroducingYourProductb5.PNG" alt="Sanef Its SCSI Simulator tool adding plugins">
          <div class="caption">
            <p>Sanef Its SCSI Simulator tool adding plugins.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="thumbnail" href="./assets/How_to_modify_projectb2.PNG" target="_blank">
          <img class="img-thumbnail" src="./assets/How_to_modify_projectb2.PNG" alt="Sanef Its SCSI Simulator tool project management">
          <div class="caption">
            <p>Sanef Its SCSI Simulator tool project management.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</Section>
