<div class="mainlayout"  fxLayout="row" fxLayoutAlign="center center">
    <mat-button-toggle-group  style="margin: 10px;" >
        <mat-button-toggle class="mat-button-toggle-style" [routerLink]="['\bootstrap']"   routerLinkActive="mat-button-toggle-style-checked" (click)="ThemeSelected('bootstrap')"><span translate>Bootstrap</span></mat-button-toggle>
        <mat-button-toggle class="mat-button-toggle-style" [routerLink]="['\material']"    routerLinkActive="mat-button-toggle-style-checked" (click)="ThemeSelected('material')"><span translate>Material</span></mat-button-toggle>
        <mat-button-toggle class="mat-button-toggle-style" [routerLink]="['\blog']"        routerLinkActive="mat-button-toggle-style-checked" (click)="ThemeSelected('blog')"><span translate>Blog</span></mat-button-toggle>
    </mat-button-toggle-group>
</div> 
<router-outlet></router-outlet>
