<div class="red-devider"> </div>
<div class="red-heading">
  <h2>
    <span translate>Education</span>
  </h2>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-6 mb-2">
        <mat-card fxFill fxLayout="column" fxLayoutAlign="start center">
          <mat-card-header fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title>2016-2018</mat-card-title>
            <mat-icon>school</mat-icon>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <h3>Udemy</h3>
            <h4>Formation individuelles.</h4>
            <div class="red-devider"></div>
            <p>C#, MVC, Anglar, Wpf, JavaScript, Sass, Html, web Api, MicroServices, Docker...</p>
          </mat-card-content>
        </mat-card>
      </div>

    <div class="col-md-6 mb-2">
      <mat-card fxFill fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>Mai 2016</mat-card-title>
          <mat-icon>school</mat-icon>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <h3>ORSYS</h3>
          <h4>Formation développement</h4>
          <div class="red-devider"></div>
          <p>ASP.NET MVC 5</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
    <div class="row">

      <div class="col-md-6 mb-2">
        <mat-card fxFill class="text-center" fxLayout="column" fxLayoutAlign="start center">
          <mat-card-header fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title>2004 - 2006</mat-card-title>
            <mat-icon>school</mat-icon>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <h3>Université de Montpellier 2</h3>
            <h4>Master informatique mention IMS </h4>
            <div class="red-devider"></div>
            <p>Informatique, Mathématiques, Statistiques</p>
          </mat-card-content>
        </mat-card>
      </div>


      <div class="col-md-6 mb-2">
          <mat-card fxFill class="text-center" fxLayout="column" fxLayoutAlign="start center">
            <mat-card-header fxLayout="column" fxLayoutAlign="center center">
              <mat-card-title>1998 - 2004</mat-card-title>
              <mat-icon>school</mat-icon>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                <h3>Université UMMTO (Tizi Ouzou) ALGERIE </h3>
                <h4>Ingénieur en informatique Réseaux et Systems Distribués.</h4>
                <div class="red-devider"></div>
                <p>Informatique, Mathématiques, Statistiques</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

