// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~material-design-icons/iconfont/material-icons.css";
@import "~@angular/material/theming";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);




 html, body { 
    font-family: Roboto, Arial, sans-serif;
    //height: 100%;
   }

body {
  margin: 0;
   }
  
 .mainlayout {
  background-color: $red;

}

section {
  padding: 45px 10px 45px 45px;
}


.section:nth-child(even) {
  background-color: $red;
  color: $white;
}

.red-devider
{
    width:100px;
    height: 2px;
    background: $red;
    margin: 0 auto;
}
.white-devider
{
    width:100px;
    height: 2px;
    background: $white;
    margin: 0 auto;
}

.section:nth-child(odd) {
  color: $red;
}

.heading h1 {
  margin: 20px 10px;
}

.heading {
  text-align: center;
 }

.red-heading, .white-heading {
  text-align: center;
  margin: 10px auto;

}

.red-heading {
  color: $red;
}

.progress-bar {
  background:  $red;
 } 

.caption
{
    color:$white; 
    text-align: center;
}

.timeline-panel {
  width: 95%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
}

.example-card {
  max-width: 700px;
}


mat-raised-button {
  background-color: $red;
}