<div id="portfolio">
  <div class="red-devider"> </div>
  <div class="red-heading">
    <h2>
      <span translate>Portfolio</span>
    </h2>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <mat-card class="bg-danger">
     
      <div class="row">
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sdt Booking Main window.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="./assets/SdtBookingMainUi.PNG" target="_blank">
                <img class="img-thumbnail" src="./assets/SdtBookingMainUi.PNG" alt="Sdt Booking Main Ui">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sdt Booking Map view.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="./assets/SdtBookingMapView.PNG" target="_blank">
                <img class="img-thumbnail" src="./assets/SdtBookingMapView.PNG" alt="Sdt Booking Map view">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sdt monitoring tool main view.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="./assets/SdtMonitoringTool.PNG" target="_blank">
                <img class="img-thumbnail" src="./assets/SdtMonitoringTool.PNG" alt="Sdt monitoring tool">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sdt monitoring tool activity view.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="./assets/SdtMonitoringToolActiviryView.PNG" target="_blank">
                <img class="img-thumbnail" src="./assets/SdtMonitoringToolActiviryView.PNG" alt="Sdt monitoring tool activity view">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sdt monitoring tool statistiques view.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="assets/SdtMonitoringToolActiviryView.PNGsFtp.PNG" target="_blank">
                <img class="img-thumbnail" src="./assets/SdtMonitoringToolActiviryView.PNGsFtp.PNG" alt="Sdt monitoring tool statistiques view">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sdt monitoring tool web services activity view.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="./assets/SdtMonitoringToolWsView.PNG" target="_blank">
                <img class="img-thumbnail" src="./assets/SdtMonitoringToolWsView.PNG" alt="Sdt monitoring tool web services activity view">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sanef Its SCSI Simulator tool main View.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="./assets/Sanef-Its-1.jpg" target="_blank">
                <img class="img-thumbnail" src="./assets/Sanef-Its-1.jpg" alt="Sanef Its SCSI Simulator tool main View">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sanef Its SCSI Simulator tool adding plugins.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="./assets/IntroducingYourProductb5.PNG" target="_blank">
                <img class="img-thumbnail" src="./assets/IntroducingYourProductb5.PNG" alt="Sanef Its SCSI Simulator tool adding plugins">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card fxFill fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-header>
              Sanef Its SCSI Simulator tool project management.
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
              <a class="thumbnail" href="./assets/How_to_modify_projectb2.PNG" target="_blank">
                <img class="img-thumbnail" src="./assets/How_to_modify_projectb2.PNG" alt="Sanef Its SCSI Simulator tool project management">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
