<section id='home'>
  <div class='col-xs-8 col-ms-4' >
    <img src="./assets/me.jpg" alt="Ressad Nour" class="rounded-circle img-fluid mx-auto d-block"  style="max-width: 35%;">
  </div>
  <div class="heading" >
    <h1><span translate>Hello, I'm Nour</span></h1>
    <h3><span translate>Full Stack Developer</span></h3>
    <a style="margin-top: 20px" class="btn btn-info bg-danger" s href="./assets/RESSAD Nour Updated 2018.ver1.docx" role="button"> <span translate>Download CV</span></a>
  </div>
</section>